<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aviso legal de La Trattoria Valenciana, incluyendo política de privacidad y términos y condiciones.">
    <title>Aviso Legal - La Trattoria Valenciana</title>
    <link rel="stylesheet" href="./../css/aviso-legal.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="./../assets/imagenes/logo.png" alt="Logotipo Restaurante La Trattoria Valenciana" height="1024" width="1024">
        </div>
        <nav>
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./reserva.html">Reserva</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Política de Privacidad</h2>
            <p>En La Trattoria Valenciana, valoramos la privacidad de nuestros clientes y nos comprometemos a proteger sus datos personales conforme a la normativa vigente, incluyendo el Reglamento General de Protección de Datos (RGPD). Recopilamos solo la información necesaria para procesar tus pedidos y mejorar tu experiencia.</p>
        </section>
        <section>
            <h2>Términos y Condiciones</h2>
            <p>Al utilizar este sitio web, aceptas cumplir con nuestros términos y condiciones. Nos reservamos el derecho de modificar estos términos en cualquier momento. Por favor, revisa esta página periódicamente para estar al tanto de los cambios.</p>
        </section>
    </main>
    <footer>
        <p>© 2025 La Trattoria Valenciana. Todos los derechos reservados.</p>
        <p>Síguenos en redes sociales:</p>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61567780894798">
                <img src="./../assets/imagenes/facebook.png" alt="Facebook" height="220" width="220">
            </a>
            <a href="https://www.instagram.com/latrattoriavalenciana?utm_source=qr&igsh=MXJydHRqd2NvMTI3aw==">
                <img src="./../assets/imagenes/instagram.png" alt="Instagram" height="225" width="225">
            </a>
        </div>
        <p class="contact-info">Dirección: Carrer de Colón 25, Valencia, España</p>
        <p class="contact-info">Teléfono: <a href="tel:+34961123456">+34 961 123 456</a></p>
        <p class="contact-info"><a href="https://www.google.com/maps/place/Carrer+de+Col%C3%B3n,+25,+46004+Valencia,+Espa%C3%B1a" target="_blank">Ver ubicación en Google Maps</a></p>
    </footer>
</body>
</html>
